.main {
  width: 95%;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1440px;
}
@media only screen and (max-width: 480px) {
  .main {
    width: 95%;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .main {
    width: 95%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
