.wrapper {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 10px 5px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.label {
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  display: block;
  z-index: 10;
  opacity: 0.5;
  width: 100% !important;
  height: 100% !important;
}
.label:hover {
  transform: scale(1.1);
}
.img_wrpper {
  position: absolute;
  z-index: -1;
}
.img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}
.input {
  display: none;
}
.active {
  opacity: 1;
}
.name {
  font-size: 0.6rem;
  white-space: nowrap;
}
.skeleton {
  width: 50px !important;
  height: 50px !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
}
.o0 {
  opacity: 0 !important;
}
.o1 {
  opacity: 1 !important;
}
