@import url(../../styles/variables.css);
.main {
  width: 80%;
  height: 0.5px;
  background-color: var(--color-grey-1);
  position: relative;
  margin: 1rem auto;
}
.text {
  font-size: 0.45rem;
  color: var(--color-grey-1);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0.5rem;
}
