@import url(../../styles/variables.css);
.main {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  margin-bottom: 1rem;
  background-color: var(--color-grey-2);
  padding: 10px;
  border-radius: 5px;
}
.right_side {
  width: 50%;
  height: 100%;
}
.right_side img {
  width: 90%;
  height: auto;
  object-fit: contain;
}
.left_side {
  flex: 1 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.name_wrapper {
}
.name {
  font-size: 0.8rem;
  text-wrap: wrap;
  font-weight: 900;
}
.details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0;
  width: 100%;
}
.detail_text {
  font-size: 0.65rem;
  margin: 3px 0;
}
.shop_btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--color-grey-1);
  color: white;
}
.text_wrapper {
  width: 45%;
}
.value_wrapper {
  flex: 1 1 auto;
}
