@import url(../../styles/variables.css);
.main {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: var(--color-grey-2);
  padding: 10px;
  border-radius: 5px;
}
.right_side {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.right_side img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}
.left_side {
  flex: 0 1 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.name_wrapper {
}
.name {
  font-size: 0.8rem;
  text-wrap: wrap;
  font-weight: 900;
}
.details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1rem 0;
  width: 100%;
}
.detail_text {
  font-size: 0.65rem;
  margin: 3px 0;
}
.shop_btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--color-grey-1);
  color: white;
  text-align: center;
}
.text_wrapper {
  width: 45%;
}
.value_wrapper {
  flex: 1 1 auto;
}

.price_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.product_price {
  font-size: 0.7rem !important;
}

.prev_price {
  font-size: 0.5rem !important;
  color: var(--color-grey-1) !important;
  position: relative;
}

.off_text {
  text-decoration: none;
  font-size: 0.5rem;
  color: #ff0000;
  white-space: nowrap;
}

.current_price {
  font-size: 0.5rem !important;
  /* color: var(--color-grey-1) !important; */
}
