@import url(../../styles/variables.css);

.main {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  margin: 0 auto;
  border: 1px solid var(--color-blue-p);
  border-top: 4px solid var(--color-blue-p);
  box-shadow: 0px 5px 5px var(--color-grey-2);
  padding: 10px;
  margin-bottom: 20px;
}

.title {
  color: var(--c-g-1);
}
