.main {
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 50vw;
  direction: rtl;
}

.calendar_parent {
  position: relative !important;
}

.cal {
  width: 350px !important;
  position: absolute !important;
  z-index: 10 !important;
  bottom: 22.5% !important;
}

.submit,
.back {
  background-color: black !important;
  font-size: 14px !important;
  font-weight: 100 !important;
  margin-top: 15px !important;
  padding: 12px 14px !important;
  color: #ffffff !important;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dn {
  display: none;
}

.df {
  display: block;
}

.cal * {
  font-size: 12px !important;
}

.cal_header {
  font-size: 10px !important;
}
.cal_header > * {
  font-size: 13px;
}

.error_text,
.signup_link {
  font-size: 10px;
  color: red;
  width: 100%;
}

.logo_wrapper {
  height: 100px;
}

.logo_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.payment_dest_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(0, 153, 130);
  width: 100%;
  padding: 15px;
}

.payment_dest_wrapper ul {
  list-style-type: none;
}

.payment_dest_wrapper ul li,
.payment_dest_wrapper ul li span {
  font-size: small;
  font-family: "IRANYekan";
}

.button_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
  .logo_wrapper {
    height: 40px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .logo_wrapper {
    height: 40px;
  }
}
