@import url(../styles/variables.css);
.main {
  height: fit-content;
  /* min-height: 100vh; */
}

.card {
  display: flex;
  align-items: flex-start;
}

.stepper {
  width: 50% !important;
  margin: 1.5rem auto !important;
}

.action_wrapper {
  width: 30%;
  height: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.total_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.total_wrapper > * {
  font-size: 0.8rem;
}

.step_btn,
.step_btn_back {
  width: 100% !important;
}

.step_btn {
  background-color: var(--primary) !important;
  /* color: #000000 !important; */
  font-size: 15px !important;
  font-weight: 900 !important;
  margin: 1rem 0 !important;
}

.step_btn_back {
  background-color: transparent !important;
  color: var(--primary) !important;
  font-size: 15px !important;
  font-weight: 900 !important;
  margin: 1rem 0 !important;
  text-decoration: underline !important;
}

@media only screen and (max-width: 480px) {
  .stepper {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .card {
    flex-direction: column;
  }
  .action_wrapper {
    width: 100%;
  }
  .step_btn,
  .step_btn_back,
  .total_wrapper > * {
    font-size: 7px !important;
  }
  .total_wrapper {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .stepper {
    width: 100% !important;
    margin-bottom: 0 !important;
  }
  .card {
    flex-direction: column;
  }
  .action_wrapper {
    width: 100%;
  }
  .step_btn,
  .step_btn_back,
  .total_wrapper > * {
    font-size: 7px !important;
  }
  .total_wrapper {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
