.main {
  height: fit-content;
}

.fa * {
  direction: rtl;
}

.en * {
  direction: ltr;
}

.main_card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2rem;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.accordion_wrapper {
  width: 30%;
  height: fit-content;
}
.info_wrapper {
  width: 70%;
  height: fit-content;
  padding: 10px;
}
