@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

/* Colors */
:root {
  --background: #fefefe;
  --text: #4b507a;
  --cyan: #60daaa;
  --yellow: #fbca67;
  --orange: #ff8a30;
  --red: #f45e61;
  --purple: #6477b9;
  --blue: #0eb7da;
  --black: #000000;
}

.custom_btn {
  cursor: pointer;
  background: none;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 10px 15px;
  box-shadow: inset 0 0 0 1px transparent;
  color: var(--black);
  font-size: inherit;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
.custom_btn::before,
.custom_btn::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: var(--black);
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: var(--black);
  border-right-color: var(--black);
  transition: width 0.125s ease-out, height 0.125s ease-out 0.125s;
}
.draw:hover::after {
  border-bottom-color: var(--black);
  border-left-color: var(--black);
  transition: border-color 0s ease-out 0.25s, width 0.125s ease-out 0.25s,
    height 0.125s ease-out 0.375s;
}
.draw {
  transition: color 0.25s;
}
.draw::before,
.draw::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
