.card {
 margin: 2rem 0;
}

.main {
 height: fit-content;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: min-content;
 gap: 2rem;
 padding: 1rem;
 align-items: stretch;
}

.more_button {
 display: flex !important;
 margin: 2rem 1rem 2rem auto !important;
 padding: 15px 25px !important;
 width: fit-content !important;
 background-color: black !important;
 color: #ffffff !important;
 font-size: 10px !important;
 font-weight: 900 !important;
}

@media only screen and (max-width: 480px) {
 .main {
  height: fit-content;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
 }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
 .main {
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
 }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
