.main {
 position: relative;
 z-index: 1000;
 display: flex;
 flex-direction: column;
 align-items: center;
 width: fit-content;
 transition: all 0.25s;
}

.search_logo_wrapper {
 width: 1.5rem;
 height: 1.5rem;
 border-radius: 50%;
 background-color: transparent;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute;
 left: 0;
}

.close_btn {
 width: 1.5rem;
 height: 1.5rem;
 border-radius: 50%;
 background-color: transparent;
 display: flex;
 align-items: center;
 justify-content: center;
 position: absolute !important;
 right: 0 !important;
}

.search_logo {
 width: 50%;
 height: 50%;
 object-fit: contain;
 cursor: pointer;
}

.search_input {
 height: 1.5rem;
 width: calc(100% - 1.5rem);
 border-radius: 50px;
 outline: none;
 border: none;
 width: 100%;
 font-size: 0.5rem;
 transition: all 0.25s;
 padding: 0 2rem;
}

.search_input::placeholder {
 font-size: 0.7rem;
}

.backdrop {
 position: fixed;
 width: 100vw;
 height: calc(150vh);
 background-color: rgba(0, 0, 0, 0.151);
 top: -50%;
 right: 0;
 bottom: 0;
 left: 0;
 z-index: -1;
}

.result_wrapper {
 /* height: fit-content; */
 height: 0;
 overflow: hidden;
 width: 100%;
 background-color: rgb(255, 255, 255);
 position: absolute;
 top: 50%;
 z-index: -1;
 border-radius: 0px 0px 30px 30px;
 height: 500px;
 overflow-y: scroll;
}

.sheet {
 height: fit-content;
}

.search_btn {
 position: absolute;
 top: 50%;
 right: 4px;
 transform: translateY(-50%);
 font-size: 13px !important;
 border: none;
 outline: none;
 background-color: #000000;
 border-radius: 30px;
 padding: 8px;
 height: 80%;
 color: #ffffff;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: center;
}
