.main {
  position: relative;
  z-index: 1000000;
  display: flex;
  align-items: center;
  width: fit-content;
  transition: all 0.25s;
}
.search_logo_wrapper {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}
.search_logo {
  width: 50%;
  height: 50%;
  object-fit: contain;
  cursor: pointer;
}
.search_input {
  height: 2rem;
  width: calc(100% - 2rem);;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  transition: all 0.25s;
  padding-left: 2rem;
}
.search_input::placeholder {
  font-size: 0.7rem;
}
.backdrop {
  position: fixed;
  width: 100vw;
  height: calc(150vh);
  background-color: rgba(0, 0, 0, 0.151);
  top: -50%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
