.main {
 display: flex;
 align-items: center;
 justify-content: flex-start;
 width: 100%;
 padding: 10px;
 cursor: pointer;
 transition: all .25s ;
}

.main:hover {
 background-color: rgb(197, 197, 197);
}

.image_wrapper {
 height: 50px !important;
 width: 50px !important;
}

.image_wrapper img {
 width: 100%;
 height: 100%;
 object-fit: contain;
}

.text_wrapper {
 display: flex;
 flex-direction: column;
}

.name,
.title {
 font-size: 15px;
}

.name {
}

.title {
}
