.svg {
  width: 25px !important;
  height: 25px !important;
}
@media only screen and (max-width: 480px) {
  .svg {
    width: 10px !important;
    height: 10px !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .svg {
    width: 15px !important;
    height: 15px !important;
  }
}
