@font-face {
  font-family: dana;
  src: url('/public/assets/fonts/dana-light.woff2');
}
@font-face {
  font-family: mulish;
  src: url('/public/assets/fonts/Mulish-Regular.ttf');
}
@font-face {
  font-family: mulishBold;
  src: url('/public/assets/fonts/Mulish-SemiBold.ttf');
}

.toast {
  font-size: 0.1rem !important;
}

.Toastify__progress-bar {
  background-color: var(--primary) !important;
  /* color: #333333; */
}

.Toastify__toast{
  /* background-color: rgb(255, 255, 255) !important; */
  /* color: #333333; */
  /* box-shadow: 5px 5px 5px #e9e9e9; */
}

.App {
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fa * {
  font-family: 'dana' !important;
}
.en * {
  font-family: 'mulish' !important;
}
* {
  font-size: calc(10px + 2vmin);
}
/* @media only screen and (max-width: 480px) {
  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  
}

@media only screen and (min-width: 1201px) {
  
} */
