.App {
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media only screen and (max-width: 480px) {
  * {
    font-size: 75% !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  * {
    font-size: 85% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  * {
    font-size: 90% !important;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  * {
    font-size: 95% !important;
  }
}

@media only screen and (min-width: 1201px) {
  * {
    font-size: 100% ; 
  }
} */
* {
  font-size: calc(10px + 2vmin) !important;
}
