@font-face {
 font-family: IRANYekan;
 src: url('/public/assets/fonts/iranyekanwebmedium.woff') format('woff');
}
@font-face {
 font-family: mulish;
 src: url('/public/assets/fonts/Mulish-Regular.ttf');
}
@font-face {
 font-family: mulishBold;
 src: url('/public/assets/fonts/Mulish-SemiBold.ttf');
}
@font-face {
 font-family: novares;
 src: url('/public/assets/fonts/novarese-medium.otf');
}
@font-face {
 font-family: EuclidCircular;
 src: url('/public/assets/fonts/Euclid Circular A Light.ttf');
}

.Toastify__progress-bar {
 background-color: var(--primary) !important;
}


.App {
 text-align: center;
 max-width: 100vw;
 overflow-x: hidden;
}
.App-logo {
 height: 40vmin;
 pointer-events: none;
}
body {
 font-family: 'IRANYekan' !important;
}

.fa * {
 font-family: 'IRANYekan' !important;
}

.en * {
 font-family: 'EuclidCircular' !important;
}

* {
 font-size: calc(10px + 2vmin);
}

/* @media only screen and (max-width: 480px) {
  
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  
}

@media only screen and (min-width: 1201px) {
  
} */
