* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: unset !important;
}
a:visited {
  color: black !important;
}
.MuiBadge-badge {
  background-color: white !important;
  color: black !important;
}
