@import url(../styles/variables.css);

.modal_parent {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  overflow: unset !important;
  position: relative;
}
.parent {
}
.close_btn {
  top: 20px !important;
  right: 20px !important;
  display: none !important;
  position: absolute !important;
}

@media only screen and (max-width: 480px) {
  .close_btn {
    display: flex !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .close_btn {
    display: flex !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

@media only screen and (min-width: 1201px) {
}
