@import url(../styles/variables.css);

.card {
  height: unset;
  width: 100%;
}
.content_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-right: var(--small-pc-padding) !important;
  margin-left: var(--small-pc-padding) !important;
}
