.main {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: all 0.25s;
  z-index: 1000;
  transform-origin: left;
  display: flex;
}
.content {
  width: 25vw;
  background-color: #ffffff;
  z-index: 1500;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}
.open {
  width: 100vw;
}
.close {
  width: 0vw;
}
