@import url(../styles/variables.css);
.main {
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  /* min-width: 100vw; */
}
.card {
  height: 100% !important;
}
.black {
  background-color: var(--color-black);
}
.transparent {
  background-color: rgba(0, 0, 0, 0);
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}
.logo_container {
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
  max-height: 2rem !important;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  transition: all 0.25s;
}
.logo_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navigation_container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.search_container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_btn_wrapper {
}
.header_btn {
  border: none;
  outline: none;
  font-size: 0.7rem !important;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.25s;
  padding: 8px 4px;
  white-space: nowrap;
  margin: 0 5px;
}

.header_btn_skeleton {
  width: 10% !important;
  height: 2rem !important;
}

.mega_menu_backdropp {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200vh;
  width: 100vw;
  z-index: 10000;
  background-color: rgba(255, 0, 0, 0);
  backdrop-filter: blur(10px);
  display: none;
}

.header_btn_wrapper:hover .mega_menu_backdropp,
.header_btn_wrapper:hover .mega_paper {
  display: block;
  animation: fade_in 0.15s ease-in-out forwards;
}

.mega_menu_backdropp:hover {
  display: none !important;
}

.mega_paper {
  transition: all 1s;
  height: 70vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(20px) !important;
  position: absolute;
  top: 90%;
  left: 0%;
  transform: translateX(0%);
  opacity: 0;
  transition: all 0.25s;
  visibility: hidden;
  display: none;
  z-index: 100000;
}
.mega_paper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background-color: transparent;
  bottom: 100%;
  left: 0;
  right: 0;
  z-index: 100;
}

.sub_menu_wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}
.mega_title {
  font-size: 15px;
  width: 10%;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
  height: 100%;
}

.label_radio{
  display: none;
}

.label_radio[type='radio']:checked ~ .mega_title {
  background-color: rgba(0, 0, 0, .7);
}

.label_radio[type='radio']:checked + .mega_title + .link_menu_wrapper {
  display: grid !important;
  opacity: 1;
}

.mega_title:hover {
  background-color: rgba(0, 0, 0, .5);
}

/* .mega_title:hover + .link_menu_wrapper,
.link_menu_wrapper:hover {
  opacity: .7;
  display: grid;
} */
.menu_item:hover + .link_menu_wrapper,
.link_menu_wrapper:hover {
  opacity: .7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 10%);
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  z-index: -1;
}
.header_sub {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.link_menu_wrapper {
  width: 90%;
  height: 70vh;
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(10, 10%);
}
.menu_item {
  font-size: 15px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: underline;
  cursor: pointer;
}
.icon_pack_wrapper {
  margin: 0 0.2rem;
}
.card_action_wrapper {
  width: 20%;
  height: fit-content;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}
.card_icons {
  padding: 0;
  margin: 0;
}
.badge {
  background-color: #ffffff !important;
  color: #ffffff !important;
}
.drawer_content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}
.dn {
  display: none;
}
.drawer_close {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.drawer_close_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu_input {
  width: 90%;
  color: white !important;
  border-color: white !important;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.login_text {
  color: white !important;
}

.mobile_actions_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fade_in {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade_out {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 480px) {
  .content {
    justify-content: space-between;
    justify-content: flex-end;
  }
  .navigation_container {
    display: none;
  }
  .card_icons {
    font-size: 1.1rem !important;
    padding: 0 !important;
    /* margin: 0 !important; */
  }
  .card_action_wrapper {
    left: 0;
    width: fit-content;
  }
  .icon_pack_wrapper {
    padding: 0;
    margin: 0;
  }
  .search_container {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    justify-content: flex-end;
  }
  .navigation_container {
    display: none;
  }

  .card_icons {
    font-size: 1.1rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .card_action_wrapper {
    width: fit-content;
  }
  .icon_pack_wrapper {
    padding: 0;
    margin: 0;
  }
  .search_container {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
