@import url(../styles/variables.css);
.main {
  position: fixed;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  width: 100%;
  /* min-width: 100vw; */
}
.card {
  height: 100% !important;
}
.black {
  background-color: var(--color-black);
}
.transparent {
  background-color: rgba(0, 0, 0, 0);
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  max-width: 1200px;

}
.logo_container {
  width: 50%;
  height: 100%;
  padding: 0 1rem;
  cursor: pointer;
  max-height: 2rem !important;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  transition: all 0.25s;
}
.logo_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navigation_container {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
}
.search_container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_btn_wrapper {
  /* position: relative; */
}
.header_btn {
  border: none;
  outline: none;
  font-size: 0.7rem !important;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  transition: all 0.25s;
  padding: 8px 4px;
  white-space: nowrap;
}
.header_btn_skeleton {
  width: 10% !important;
  height: 2rem !important;
}
.header_btn::after {
  content: '';
  height: 1px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
}
.header_btn:hover ~ .mega_paper {
  animation: fade_in 0.5s forwards;
  display: flex;
}
.mega_paper:hover,
.mega_paper > * {
  opacity: 1;
  visibility: visible;
  animation: fade_in 0.5s forwards;
  display: flex;
}
.mega_paper {
  transition: all 1s;
  height: 90vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.91);
  backdrop-filter: blur(20px) !important;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition: all 0.25s;
  visibility: hidden;
  display: none;
}
.sub_menu_wrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  width: 15%;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}
.sub_menu_text {
  padding: 8px 4px;
}
.sub_menu_wrapper:hover {
  background-color: #c3c3c3;
  transition: all 0.25s;
}
.sub_menu_wrapper:hover ~ .link_menu_wrapper {
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  z-index: -1;
}
.link_menu_wrapper {
  width: 85%;
  height: 100%;
  background-color: #c3c3c3;
  opacity: 0;
  display: none;
}
.icon_pack_wrapper {
  margin: 0 0.2rem;
}
.card_action_wrapper {
  width: 20%;
  height: fit-content;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 1rem;
}
.card_icons {
  padding: 0;
  margin: 0;
}
.badge {
  background-color: #ffffff !important;
  color: #ffffff !important;
}
.drawer_content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 3rem;
}
.dn {
  display: none;
}
.drawer_close {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.drawer_close_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu_input {
  width: 90%;
  color: white !important;
  border-color: white !important;
}
.dn {
  display: none;
}
.db {
  display: block;
}
.login_text {
  color: white !important;
}

@keyframes fade_in {
  0% {
    visibility: visible;
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade_out {
  0% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
  }
}

@media only screen and (max-width: 480px) {
  .content {
    justify-content: flex-end;
  }
  .navigation_container {
    display: none;
  }

  .card_icons {
    font-size: 1.1rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .card_action_wrapper {
    width: fit-content;
  }
  .icon_pack_wrapper {
    padding: 0;
    margin: 0;
  }
  .search_container {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .content {
    justify-content: flex-end;
  }
  .navigation_container {
    display: none;
  }

  .card_icons {
    font-size: 1.1rem !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .card_action_wrapper {
    width: fit-content;
  }
  .icon_pack_wrapper {
    padding: 0;
    margin: 0;
  }
  .search_container {
    align-items: flex-start;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
